.gameplay-container{
    height: 100%;
    display: grid;
    position: relative;
    grid-template-columns: auto 300px;
    grid-template-rows: 60px auto 180px;
    grid-template-areas: 
      "header header"
      "main side"
      "footer tokens";
}

.toggle-button{
  position: absolute;
  top: 20px;
  left: 20px;
  grid-area: main;
  font-size: small;
}