.gameplay-container{
    height: 100%;
    display: grid;
    grid-template-columns: auto 300px;
    grid-template-rows: 60px auto 180px;
    grid-template-areas: 
      "header header"
      "main side"
      "footer tokens";
}

.toggle-button{
  margin-left: -220px;
  margin-top: 20px;
  position: absolute;
  top: 0;
  left: 0;
}