.gameplay-container{
    display: grid;
    grid-template-columns: auto 300px;
    grid-template-rows: 10% 70% 20%;
    grid-template-areas: 
      "header header"
      "main side"
      "footer tokens";
}
