@import 'vars';

.side-menu-container{
    grid-area: side;
    background-color: darken($background-color, 10)
}

.menu-house{
    display: flex;
    justify-content: flex-end;
}

.menu-house > .token-tiny{
    margin: auto;
}

.house-container{
    position: relative;
}

.house-container:hover .house{
    opacity: 0.3;
}

.house-container:hover .house-name {
    opacity: 1;
}

.house-name{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}