@import "vars";

.agenda-container{
    grid-area: footer;
    background-color: darken($background-color, 10);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: -100px;
}

.tokens-container{
    grid-area: tokens;
    background-color: darken($background-color, 10);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.playerbar-value{
    font-size: $tallest;
    font-weight: 700;
    height: 100%;
    display: flex;
}

.playerbar-value > span {
    margin: auto;
    padding: 10px;
}

.table-container{
    height: 100%;
    display: flex;
}



img.playerbar-agenda {
     transform: rotate(-90deg) translateY(-25%);
     height: 475px;
     
}

.extremist-resources{
  width: 300px;
  margin: 0px 80px 0 80px;
  font-weight: 700;
}

.rebel-extra{
  margin-left: -150px;
  width: 150px;
  margin-right: 50px;
  font-weight: 700;
}


table.ranking {
    transform: scale(0.4) translateX(-150%);
}

table.resources {
    transform: scale(0.4);
}

table.resources, table.ranking {
  width: 20rem;
  border: 5px solid $secondary-yellow;
  border-radius: 1.5rem;
  border-spacing: 0; // need to reset for chrome
  overflow: hidden;
  align-self: center;
  display: inline-table;
}

th, td {
  text-align: center;
  height: 3rem;
}

th {
  font-size: 1.3rem;
}

td {
  width: 50%;
  font-size: 2rem;
  font-weight: 700;
  border-bottom: 2px solid $secondary-yellow;
  background-color: $white;
}

th:nth-child(2), td:nth-child(2) {
  border-left: 2px solid $secondary-yellow;
}

th:nth-child(1) {
  background-color: $primary-text;
  color: $white;
  text-transform: uppercase;
  font-weight: 500;
}

th:nth-child(2) {
  background-color: $secondary-yellow;
}

td:nth-child(1) {
  color: $primary-text;
}

td:nth-child(2) {
  color: $secondary-yellow;
}

tr:last-child td {
  border-bottom: none;
}

.ranking td:nth-child(1) {
  font-family: serif;
  font-weight: normal;
}

th img {
  height: 70%;
}

.header-wrapper {
  display: flex;
  align-items: center;
  
  img {
    padding: 0.5rem;
    height: 1.75rem;
  }
}
