@import "vars";

.tokens-container{
    grid-area: tokens;
    background-color: darken($background-color, 10);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tab-container{
    grid-area: footer;
    background-color: darken($background-color, 10);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}