@import "vars";

.agenda-container{
    background-color: darken($background-color, 10);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.playerbar-value{
    font-size: $tallest;
    font-weight: 700;
    height: 100%;
    display: flex;
    align-items: center;
}

.playerbar-value > span {
    margin: auto;
    padding: 10px;
}

.table-container{
    height: 100%;
    display: flex;
}

.extremist-resources{
  width: 300px;
  font-weight: 700;
}

.rebel-extra{
  width: 150px;
  margin: 0 20px;
  font-weight: 700;
}

table.resources, table.ranking {
  font-size: 10px;
  width: 17em;
  border: 3px solid $secondary-yellow;
  border-radius: 1em;
  border-spacing: 0; // need to reset for chrome
  overflow: hidden;
  align-self: center;
  display: inline-table;
  
  th, td {
    text-align: center;
    height: 1.5em;
  }
  
  td {
    width: 50%;
    font-size: 150%;
    font-weight: 700;
    border-bottom: 1px solid $secondary-yellow;
    background-color: $white;
  }
  
  th:nth-child(2), td:nth-child(2) {
    border-left: 1px solid $secondary-yellow;
  }
  
  th:nth-child(1) {
    background-color: $primary-text;
    color: $white;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  th:nth-child(2) {
    background-color: $secondary-yellow;
  }
  
  td:nth-child(1) {
    color: $primary-text;
  }
  
  td:nth-child(2) {
    color: $secondary-yellow;
  }
  
  tr:last-child td {
    border-bottom: none;
  }
  
  th img {
    height: 100%;
  }
  
  .header-wrapper {
    display: flex;
    align-items: center;
    
    img {
      padding: 0 0.5em;
      height: 1.2em;
    }
  }
}

.ranking td:nth-child(1) {
  font-family: serif;
  font-weight: normal;
}

.agenda-tables {
  display: flex;
  padding: 0 20px;
  align-items: center;
}

.agenda-tables table:nth-child(2) {
  margin-left: 20px;
}

img.playerbar-agenda {
  height: 70%;
}
