//colours
$background-color: rgb(235, 235, 235);
$primary-yellow:  rgb(255, 230, 153);  /*or rgb(174,153,91)*/
$secondary-yellow : #AE995B;
$primary-text: #3C3834; /*or rgb(60,56,52)*/
$red-nay:              #81221E; /*or rgb(129,34,30)*/
$blue-aye:             #173657; /* or rgb(23,54,87)*/
$white:                #ffffff; /* or rgb(255,255,255) let me know if we should use a softer white */

//fonts
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

$normal: 1rem;
$taller: 1.4rem;
$tallest: 2rem;
$huge: 2.4rem;

// other

$border-radius: 0.2rem;