@import 'vars';

.voting-container{
    grid-area: main;
        display: grid;
        // grid-template-columns: 33% 33% 33%;
        grid-template-rows: auto 40% auto;
        grid-template-areas: 
          "nay card aye"
          "nay-scale power aye-scale"
          "vote vote vote";
    overflow: auto;
    width: 1280px;
    height: 720px;
    position: absolute;
}

.available-power {
  grid-area: power;
  margin: auto;
}

.power-token{
  padding: 5px;
}

.aye-container{
    grid-area: aye;
}

.nay-container{
    grid-area: nay;
}

.aye-scale, .nay-scale {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  >img {
    height: 100%;
    width: 100%;
  }
}

.aye-scale {
  grid-area: aye-scale;
}

.nay-scale {
  grid-area: nay-scale;
}

.aye-token-container, .nay-token-container {
  position: absolute;
}

table.aye, table.nay {
  font-size: 16px;
  width: 20em;
  border: 3px solid $primary-text;
  border-radius: 1em;
  border-spacing: 0; // need to reset for chrome
  overflow: hidden;
  align-self: center;
  display: inline-table;

  th, td {
    text-align: center;
    height: 2em;
  }
  
  th {
    font-size: 1.3em;
  }
  
  td {
    width: 50%;
    font-size: 1.5em;
    font-weight: 500;
    border-bottom: 2px solid $primary-text;
    background-color: $white;
  }
  
  th:nth-child(1){
      color: $white;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  tr:last-child td {
    border-bottom: none;
  }
  
  th:nth-child(2), td:nth-child(2) {
    border-left: 2px solid $primary-text;
  }
}

table.aye th:nth-child(1) {
  background-color: $blue-aye;
}

table.nay th:nth-child(1) {
    background-color: $red-nay;
}