.vertical-filmstrip {
 >.large-video-labels{
    display: none;
 }
> .filmstrip__toolbar{
    display: none;
}

> .filmstrip__videos{
    display: none;
}

> .subject {
    display: none;
}

>.watermark {
    display: none;
}
}

 